<%- include ../partials/header.ejs %>

<main class="container">

    <h1>Welcome, <%= user.username %></h1>

	<a href="/brewerys">Add or edit brewery info</a>

</main>

<%- include ../partials/footer.ejs %>