<%- include ../partials/header.ejs %>

<main class="container">

    <h1>Welcome, <%= user.username %></h1>
    <p>You can now add or edit brewery information</p>
	<a href="/brewerys"><button class="waves-effect waves-light btn">Add or edit brewery info</button></a>

</main>

<%- include ../partials/footer.ejs %>