<%- include ../partials/header.ejs %>

<main class="container center">

    <h1>Cheers, <%= user.username %></h1>
    <p>You can now edit directory information</p>
	<a href="/brewerys"><button class="waves-effect waves-light btn">Edit Directory</button></a>

</main>

<%- include ../partials/footer.ejs %>