<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Brewery Details</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="title">Title: *</label>
            <input name="title" id="title" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="about">About: *</label>
            <textarea name="about" id="about" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="beertypes">Types of Beer: *</label>
            <textarea name="beertypes" id="beertypes"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="city">City: *</label>
            <textarea name="city" id="city"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="yearfounded">Year Founded: *</label>
            <textarea name="yearfounded" id="yearfounded"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="phone">Phone: *</label>
            <textarea name="phone" id="phone"></textarea>
        </fieldset>
        <button class="waves-effect waves-light btn">Save</button>
    </form>
</main>

</body>
</html>