
<!-- Latest   jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- materialize js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<!--custom scripts -->
<script src="/javascripts/scripts.js"></script>
<footer class="page-footer">
<div class="container">
&copy; 2016 Ontario Brewery Directory
</div>
</footer>
</body>
</html>