<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">

        <!-- custom css -->
        <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/brewerys">brewerys</a></li>
          </ul>
      </nav>