body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 3rem;
	text-align: center;
}
a {
  color: #00B7FF;
}
.invalid {
	border: solid 2px gray;
	background: red;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 20px;
}
.btn {
	margin-bottom: 20px;
}

/**forms**/
fieldset {
	margin: 10px auto;
	width: 70%;
}


/***brewery list page**/
.brewery-list li {
	margin-bottom: 20px;
}
td.brewery-title:first-child {
    width: 170px;
    font-size: 1.3em;
    text-align: center;
}
table {
	margin-bottom: 20px;
}
table td {
	vertical-align: center;
	padding: 5px;
}
td.brewery-beertypes {
	width: 60px;
}
table td:last-child {
    vertical-align: middle;
}
table tr {
	border: solid 1px #bbb;
}
table td {
	border: solid 1px #bbb;
}
table tr:nth-child(odd) {
	background: #fafafa;
}



/**footer**/
footer {
	color: #fff;
	padding: 20px;
}