body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.invalid {
	border: solid 2px gray;
	background: red;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 20px;
}

/***brewery list page**/
.brewery-list li {
	margin-bottom: 20px;
}
td.brewery-title:first-child {
    width: 100px;
    font-size: 1.3em;
}
table td {
	vertical-align: top;
	padding: 5px;
}