body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.invalid {
	border: solid 2px gray;
	background: red;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 20px;
}